.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.main-game-container {
    display: flex;
    overflow: hidden;
    background-color: #282c34;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width: 90vw;
    height: 685px;
    margin-top: 4vh;
}

.left-video-container {
    display: flex;
    flex: 1;
}

.right-video-container {
    display: flex;
    flex: 1;
}

.left-video-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 17.5vh;
    width: 95%;
}

.right-video-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 17.5vh;
    width: 95%;
}

.left-video-content iframe, .right-video-container iframe {
   margin-top: 3vh;
}

.left-video-content h1, .right-video-content h1 {
    font-size: 2rem;
}

.left-video-content h2, .right-video-content h2 {
    font-size: 1.75rem;
}

.left-video-content h3 {
    font-size: 1.4rem;
    margin-bottom: -0.25vh;
    margin-top: -0.25vh;
}

.right-video-content h3 {
    font-size: 1.5rem;
    margin-top: -0.25vh;
}

.right-video-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.5vh;
    margin-bottom: -1vh;
}

.right-video-button-container h2 {
   margin-top: 0.2vh;
}

.right-video-button-container button {
    border-radius: 45px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 9vw;
    height: 3.5vh;
    transition: 0.5s;
}

.right-video-button-container .more-button {
    background-color: rgb(42, 173, 99);
    border: 1px solid rgb(42, 173, 99);
    transition: 0.5s;
}

.right-video-button-container .less-button {
    background-color: #d63031;
    border: 1px solid #d63031;
    transition: 0.5s;
}

button:focus {
    outline: none;
}

.more-button:hover, .less-button:hover {
    transform: scale(1.1);
 }
 
.more-button:hover ~ .less-button {
     opacity: 0.7;
     filter: blur(1px);
 }

.more-button-blur {
    background-color: rgb(42, 173, 99);
    border: 1px solid rgb(42, 173, 99);
    opacity: 0.7;
    filter: blur(1px);
}

 .more-button:active, .less-button:active {
	transform: scale(1);
}

.game-score-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2.75vh;
    width: 100%;
    font-size: 1rem;
}

.current-score {
    margin-left: 3.5vw;
}

.high-score {
    margin-right: 3.5vw;
}

.centered-icon {
    position: fixed;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.vs-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    color: #282c34;
    font-size: 1.6rem;
    font-weight: 1000;
}

.checkmark-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 173, 99);
    width: 90px;
    height: 90px;
    border-radius: 100px;
    color: white;
    font-size: 1.8rem;
    font-weight: 1000;
}

.x-wrong-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d63031;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    color: white;
    font-size: 1.8rem;
    font-weight: 1000;
}

@media(max-width: 1200px) {
    .main-game-container {
        flex-direction: column;
        width: 80vw;
    }

    .iframe-video {
        display: none;
    }

    .left-video-content iframe, .right-video-container iframe {
        margin-top: 0;
     }

     .left-video-content, .right-video-content {
        margin: auto;
        width: 95%;
        height: 100%;
    }

    .centered-icon {
        position: fixed;
        left: 50%;
        top: 52%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    
    .vs-icon {
        display: none;
    }

    .checkmark-icon {
        width: 65px;
        height: 65px;
        font-size: 1.2rem;
    }
    
    .x-wrong-icon {
        width: 65px;
        height: 65px;
        font-size: 1.2rem;
    }
    
    .right-video-button-container h2 {
       margin-top: 0;
    }

    .right-video-button-container button {
        font-size: 0.8rem;
        border-radius: 40px;
        width: 11vw;
        height: 2.75vh;
    }

    .game-score-container {
        font-size: 1rem;
    }
}

@media (max-width: 850px) {
    .left-video-content h1, .right-video-content h1 {
        font-size: 1.7rem;
    }

    .left-video-content h2, .right-video-content h2 {
        font-size: 1.5rem;
    }

    .left-video-content h3 {
        font-size: 1.25rem;      
    }

    .right-video-content h3 {
        font-size: 1.25rem;
    }

    .right-video-button-container button {
        font-size: 0.7rem;
        border-radius: 40px;
        width: 17vw;
        height: 2.5vh;
        margin-left: 20px;
        margin-right: 20px;
    }

    .game-score-container {
        font-size: 0.8rem;
    }
}

@media (max-width: 415px) {
    .checkmark-icon {
        width: 50px;
        height: 50px;
        font-size: 1.1rem;
    }

    .x-wrong-icon {
        width: 50px;
        height: 50px;
        font-size: 1.1rem;
    }

    .left-video-content h1, .right-video-content h1 {
        font-size: 1.6rem;
    }

    .left-video-content h2, .right-video-content h2 {
        font-size: 1.45rem;
    }

    .right-video-button-container button {
        width: 20vw;
        height: 2.7vh;
        margin-left: 15px;
        margin-right: 15px;
    }

    .left-video-content h3 {
        font-size: 1.2rem;      
    }

    .right-video-content h3 {
        font-size: 1.2rem;
    }

    .game-score-container {
        font-size: 0.6rem;
    }
}
