body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ecf0f1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center no-repeat;
  background-size: cover;                      
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

button {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
	font-weight: bold;
  letter-spacing: 1px;
  font-size: 10px;
  cursor: pointer;
}



/* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.pexels.com/photos/1054222/pexels-photo-1054222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */

/* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://images.pexels.com/photos/395198/pexels-photo-395198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
/* background-color: #f1e8e9; */
